@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

:root {
  --theme-color: #F29945;
  --bg-dark: #000000;
  --text-white: #fff;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* background-color: red; */

}

.bg-dark {
  background-color: var(--bg-dark);
}

.theme-bg-color {
  background-color: var(--theme-color);
}

.theme-color {
  color: var(--theme-color) ;
}

.theme-border {
  border-color: var(--theme-color);
}
.gradiant-btn{
  background: linear-gradient(to right, #882409, #c57907);
}


.gradiant {
  background: -webkit-linear-gradient( #0e6374, #be8304);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul li a {
  display: block;
  color: rgb(207, 207, 207);
}

nav ul li a:hover {
  color: var(--theme-color);
}

nav ul li a.active {
  background-color: var(--theme-color) !important;
  color: var(--text-white) !important;
}

.hero {
  background: url("../assets/hero-bg.jpg");
  background-position: center ;
  background-size: cover;
  /* background: radial-gradient(circle, rgba(255, 255, 255, 0.219), #0000003f);
  /*  */
} 

.hero .layer {
   background: radial-gradient(circle, rgba(48, 48, 48, 0.704), rgba(0, 0, 0, 0.938));
   position: absolute;
   inset: 0;
  
}


#products .splide__slide img {
  width: 100%;
  height: 350px ;
  object-fit: cover;
}



#products button.active{
  background-color: var(--theme-color);
}


#contact {
  background: url("../assets/contact.jpg");
  background-position: center center;
  background-size: 100%;

}

.aboutSideLine::after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  transform:translateY(-50%) ;
  width: 1rem;
  height: 3px;
  background-color: var(--theme-color);
  -webkit-transform:translateY(-50%) ;
  -moz-transform:translateY(-50%) ;
  -ms-transform:translateY(-50%) ;
  -o-transform:translateY(-50%) ;
}


@media screen and (max-width:500px) {
  #products .splide__slide img {
    height: 250px ;
  }
}
